<ion-header>

  <ion-navbar>
    <ion-title text-center>
      {{ 'CARDS_TITLE' | translate }}
    </ion-title>

    <!-- <ion-select [(ngModel)]="localization">
        <ion-option>Minha Localização</ion-option>
        <ion-option>Campinas</ion-option>
        <ion-option>São Paulo</ion-option>
        <ion-option>Belo Horizonte</ion-option>
      </ion-select> -->

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content #content>

  <ion-card *ngFor="let item of cardItems" (click)="cardClicked($event, item)">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="item.user.avatar">
      </ion-avatar>
      <h2>{{item.user.name}}</h2>
      <p>{{item.date}}</p>
    </ion-item>

    <img [src]="item.image">

    <ion-card-content>
      <h1>{{ item.name }}</h1>
      <p>{{item.about}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          12 Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          4 Comments
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>